<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <p class="font-weight-bold ml-1" style="color: black;" >GYMBRO Team</p>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="http://instagram.com" class="nav-link" target="_blank">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a href="http://instagram.com" class="nav-link" target="_blank">Instagram</a>
      </ul>
    </div>
  </div>
</footer>
