<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">RUTINA LUNES (PECHO Y TRICEPS)</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Ejercicio</th>
                <th scope="col">Series</th>
                <th scope="col">Peso</th>
                <th scope="col">Descanso</th>
                <th scope="col">Dificultad</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/pressbanca.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >Press de banca sobre banco plano</span
                      >
                    </div>
                  </div>
                </th>
                <td>1x - Calentamiento, 4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> 85Kg - 85Kg - 85Kg - 90Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>90"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">95%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-danger"
                          role="progressbar"
                          aria-valuenow="95"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 90%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/aperturasbancoplano.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >Aperturas sobre banco plano</span
                      >
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-danger"></i> 25Kg - 25Kg - 25Kg - 27,5Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>60"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">85%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-warning"
                          role="progressbar"
                          aria-valuenow="85"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 85%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/flexiones.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Flexiones en suelo </span>
                    </div>
                  </div>
                </th>
                <td>4x al fallo</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> Disco de 20Kg en la espalda
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>90"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">50%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-info"
                          role="progressbar"
                          aria-valuenow="50"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 50%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/patadatriceps.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >Patada de tríceps con mancuerna</span
                      >
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-danger"></i> 15Kg - 15Kg - 15Kg - 17,5Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>60"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-warning"
                          role="progressbar"
                          aria-valuenow="70"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 70%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/fondos.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Fondos entre bancos</span>
                    </div>
                  </div>
                </th>
                <td>4x al fallo</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> Disco de 20Kg en las piernas
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>60"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">65%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-info"
                          role="progressbar"
                          aria-valuenow="65"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 65%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <!-- Table 2-->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">RUTINA MARTES (ESPALDA Y BICEPS)</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Ejercicio</th>
                <th scope="col">Series</th>
                <th scope="col">Peso</th>
                <th scope="col">Descanso</th>
                <th scope="col">Dificultad</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/pesomuerto.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >Peso muerto</span
                      >
                    </div>
                  </div>
                </th>
                <td>1x - Calentamiento, 4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> 130Kg - 130Kg - 130Kg - 140Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>90"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">98%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-danger"
                          role="progressbar"
                          aria-valuenow="98"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 98%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/remobarra.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >Remo con barra</span
                      >
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-danger"></i> 65Kg - 65Kg - 65Kg - 70Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>60"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">80%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-warning"
                          role="progressbar"
                          aria-valuenow="80"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 80%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/pajaros.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Pajaro </span>
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> 15Kg - 15Kg - 15Kg - 20Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>90"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">65%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-info"
                          role="progressbar"
                          aria-valuenow="65"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 65%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/curlmancu.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >Curl de biceps con mancuerna</span
                      >
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-danger"></i> 17,5Kg - 17,5Kg - 17,5Kg - 20Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>60"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">65%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-info"
                          role="progressbar"
                          aria-valuenow="65"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 65%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/curlconcentrado.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Curl de biceps concentrado</span>
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> 15Kg - 15Kg - 15Kg - 17,5Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>70"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-warning"
                          role="progressbar"
                          aria-valuenow="70"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 70%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br><br>
    <!-- Table 3-->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">RUTINA JUEVES (PIERNA)</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Ejercicio</th>
                  <th scope="col">Series</th>
                  <th scope="col">Peso</th>
                  <th scope="col">Descanso</th>
                  <th scope="col">Dificultad</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a
                        href="javascript:void(0)"
                        class="avatar rounded-circle mr-3"
                      >
                        <img
                          alt="Image placeholder"
                          src="../assets/img/brand/bulgara.jpg"
                        />
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm"
                          >Sentadilla Búlgara con mancuernas</span
                        >
                      </div>
                    </div>
                  </th>
                  <td>1x - Calentamiento, 4x - Ejercicio</td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-danger"></i> 15Kg - 15Kg - 15Kg - 17,5Kg
                    </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <td>90"</td>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">95%</span>
                      <div>
                        <div class="progress">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            aria-valuenow="95"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            style="width: 90%"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a
                        href="javascript:void(0)"
                        class="avatar rounded-circle mr-3"
                      >
                        <img
                          alt="Image placeholder"
                          src="../assets/img/brand/prensavertical.jpg"
                        />
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm"
                          >Prensa vertical</span
                        >
                      </div>
                    </div>
                  </th>
                  <td>4x - Ejercicio</td>
                  <td>
                    <span class="badge badge-dot">
                      <i class="bg-danger"></i> 225Kg - 225Kg - 225Kg - 250Kg
                    </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <td>60"</td>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">88%</span>
                      <div>
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            aria-valuenow="88"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            style="width: 88%"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a
                        href="javascript:void(0)"
                        class="avatar rounded-circle mr-3"
                      >
                        <img
                          alt="Image placeholder"
                          src="../assets/img/brand/femoraltumbado.jpg"
                        />
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm">Curl femoral tumbado </span>
                      </div>
                    </div>
                  </th>
                  <td>4x - Ejercicio</td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-danger"></i> 50Kg - 50Kg - 50Kg - 55Kg
                    </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <td>90"</td>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">75%</span>
                      <div>
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            aria-valuenow="75"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            style="width: 75%"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a
                        href="javascript:void(0)"
                        class="avatar rounded-circle mr-3"
                      >
                        <img
                          alt="Image placeholder"
                          src="../assets/img/brand/aductores.jpg"
                        />
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm"
                          >Aductores en máquina</span
                        >
                      </div>
                    </div>
                  </th>
                  <td>4x - Ejercicio</td>
                  <td>
                    <span class="badge badge-dot">
                      <i class="bg-danger"></i> 70Kg - 70Kg - 70Kg - 75Kg
                    </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <td>60"</td>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">75%</span>
                      <div>
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            aria-valuenow="75"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            style="width: 75%"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right"></td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a
                        href="javascript:void(0)"
                        class="avatar rounded-circle mr-3"
                      >
                        <img
                          alt="Image placeholder"
                          src="../assets/img/brand/gemelodepie.jpg"
                        />
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm">Gemelo en máquina de pie</span>
                      </div>
                    </div>
                  </th>
                  <td>4x - Ejercicio</td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-danger"></i> 70Kg - 70Kg - 70Kg - 75Kg
                    </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                      <td>60"</td>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">67%</span>
                      <div>
                        <div class="progress">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            aria-valuenow="67"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            style="width: 67%"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-right"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br><br>
      <!-- Table 4-->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">RUTINA VIERNES (HOMBRO Y ANTEBRAZO)</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Ejercicios</th>
                <th scope="col">Series</th>
                <th scope="col">Peso</th>
                <th scope="col">Descanso</th>
                <th scope="col">Dificultad</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/pressmilitar.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >Press militar con barra de pie</span
                      >
                    </div>
                  </div>
                </th>
                <td>1x - Calentamiento, 4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> 20Kg - 20Kg - 20Kg - 25Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>90"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">90%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-danger"
                          role="progressbar"
                          aria-valuenow="90"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 90%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/pressarnold.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >Press Arnold</span
                      >
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-danger"></i> 20Kg - 20Kg - 20Kg - 22,5Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>60"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">86%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-warning"
                          role="progressbar"
                          aria-valuenow="86"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 86%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/elevacioneslateral.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Elevaciones laterales a una mano en polea</span>
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i> 20Kg - 20Kg - 20Kg - 25Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>90"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">75%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-warning"
                          role="progressbar"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 75%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/remomenton.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm"
                        >Remo al mentón agarre cerrado</span
                      >
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-danger"></i> 40Kg - 40Kg - 40Kg - 45Kg
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>60"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-info"
                          role="progressbar"
                          aria-valuenow="60"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 60%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a
                      href="javascript:void(0)"
                      class="avatar rounded-circle mr-3"
                    >
                      <img
                        alt="Image placeholder"
                        src="../assets/img/brand/agarreprono.jpg"
                      />
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Curl con barra agarre prono</span>
                    </div>
                  </div>
                </th>
                <td>4x - Ejercicio</td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i>25Kg - 25Kg - 25Kg - 30Kg 
                  </span>
                </td>
                <td>
                  <div class="avatar-group">
                    <td>60"</td>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">65%</span>
                    <div>
                      <div class="progress">
                        <div
                          class="progress-bar bg-info"
                          role="progressbar"
                          aria-valuenow="65"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          style="width: 65%"
                        ></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="text-right"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
