<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h1 class="card-title text-uppercase text-dark mb-0">CLASSIC</h1>
                  <span class="h2 font-weight-bold mb-0">30€/<span class="h4 text-muted mb-0">4 semanas</span></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-dark text-white rounded-circle shadow">
                    <i class="far fa-check-circle"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Acceso al gimnasio</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Rutinas personalizadas</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fa fa-check"></i></span>
                <span class="">Entrenamiento con invitado</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fa fa-check"></i></span>
                <span class="">Acceso a sauna, hidromasaje, balanza</span>
              </p>
              <div class="d-flex flex-row-reverse">
                <a href="#!" class="btn btn-dark mt-4">Elegir</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h1 class="card-title text-uppercase text-dark mb-0">PREMIUM</h1>
                  <span class="h2 font-weight-bold mb-0">50€/<span class="h4 text-muted mb-0">4 semanas</span></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-warning text-white rounded-circle shadow">
                    <i class="far fa-check-circle"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Acceso al gimnasio</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Rutinas personalizadas</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Entrenamiento con invitado</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Acceso a sauna, hidromasaje, balanza</span>
              </p>
              <div class="d-flex flex-row-reverse">
                <a href="#!" class="btn btn-dark mt-4">Elegir</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h1 class="card-title text-uppercase text-dark mb-0">CLASSIC</h1>
                  <span class="h2 font-weight-bold mb-0">330€/<span class="h4 text-muted mb-0">12 meses</span></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-dark text-white rounded-circle shadow">
                    <i class="far fa-check-circle"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Acceso al gimnasio</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Rutinas personalizadas</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fa fa-check"></i></span>
                <span class="">Entrenamiento con invitado</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i class="fa fa-check"></i></span>
                <span class="">Acceso a sauna, hidromasaje, balanza</span>
              </p>
              <div class="d-flex flex-row-reverse">
                <a href="#!" class="btn btn-dark mt-4">Elegir</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h1 class="card-title text-uppercase text-dark mb-0">PREMIUM</h1>
                  <span class="h2 font-weight-bold mb-0">550€/<span class="h4 text-muted mb-0">12 meses</span></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-warning text-white rounded-circle shadow">
                    <i class="far fa-check-circle"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Acceso al gimnasio</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Rutinas personalizadas</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Entrenamiento con invitado</span>
              </p>
              <p class="mt-1 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-check"></i></span>
                <span class="">Acceso a sauna, hidromasaje, balanza</span>
              </p>
              <div class="d-flex flex-row-reverse">
                <a href="#!" class="btn btn-dark mt-4">Elegir</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Horarios</h6>
              <h2 class="mb-0">Aperturas y cierres</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="texto">
            <h3 class="mb-0">Nuestros establecimientos abren <span class="text-warning">todos los dias del año, </span> hasta en los <span class="text-warning">festivos</span> podrás disfrutar de tu entrenamiento en gymbro</h3>
            <hr>
            <h2 class="mb-3 mt--3">Horario</h2>
            <h4>De <span class="text-warning">lunes</span> a <span class="text-warning">viernes</span>: 24h</h4>
            <h4><span class="text-warning">Sábados</span> y <span class="text-warning">domingos</span>: 08:00 - 22:00</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1"></h6>
              <h2 class="text-white mb-0">Actividades</h2>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card bg-default shadow">
                <div class="table-responsive">
                  <table class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Día/Hora</th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miercoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="hora">
                          09:00 - 10:00
                        </td>
                        <td class="lunes">
                          Defensa personal
                        </td>
                        <td class="martes">
                          Zumba
                        </td>
                        <td class="miercoles">
                          Defensa personal
                        </td>
                        <td class="jueves">
                          Pilates
                        </td>
                        <td class="viernes">
                          Zumba
                        </td>
                      </tr>
                      <tr>
                        <td class="hora">
                          10:00 - 11:00
                        </td>
                        <td class="lunes">
                          Spinning
                        </td>
                        <td class="martes">
                          Zumba
                        </td>
                        <td class="miercoles">
                          Spinning
                        </td>
                        <td class="jueves">
                          Cross-fit
                        </td>
                        <td class="viernes">
                          Zumba
                        </td>
                      </tr>
                      <tr>
                        <td class="hora">
                          11:00 - 12:00
                        </td>
                        <td class="lunes">
                          Boxeo
                        </td>
                        <td class="martes">
                          Intensivo
                        </td>
                        <td class="miercoles">
                          Boxeo
                        </td>
                        <td class="jueves">
                          Boxeo
                        </td>
                        <td class="viernes">
                          Yoga
                        </td>
                      </tr>
                      <tr>
                        <td class="hora">
                          12:00 - 13:00
                        </td>
                        <td class="lunes">
                          Zumba
                        </td>
                        <td class="martes">
                          Body Power
                        </td>
                        <td class="miercoles">
                          Cross-fit
                        </td>
                        <td class="jueves">
                          Intensive
                        </td>
                        <td class="viernes">
                          Yoga
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
